body {
  font-family: sans-serif;
}

div {
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
}

div.header, div.search-box, div.flash-messages {
  text-align: center;
}

div.footer {
  margin-bottom: 3em;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid gray;
  word-wrap: break-word;
  text-align: center;
}

ul.amenities {
  text-align: left;
  padding-left: 2em;
  padding-right: 1.5em;
}

img.logo {
  width: 25em;
  height: auto;
}

img.hotel {
  width: 15em;
  height: auto;
}
