<!doctype html>
<html>
<head>
  <title>SnapTravel</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>

<body>
  <!-- Header -->
  <div class="header">
    <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}">
    <h1>Find Great Hotel Deals Now!</h1>
  </div>

  <!-- Hotel search box -->
  <div class="search-box">
    <form action="" method="post">
      {{ form.csrf_token() }}
      <p>{{ form.city(placeholder="City") }}</p>
      <p>{{ form.checkin(placeholder="Check-in") }}</p>
      <p>{{ form.checkout(placeholder="Check-out") }}</p>
      {{ form.submit() }}
    </form>
  </div>

  <!-- TODO: Please see app.py for future improvement TODO comments. -->
  <!-- Display applicable hotel rates if available -->
  {% if table %}
    <div class="search-results">
      {{ table }}
    </div>
  {% endif %}

  <!-- Display flash message -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flash-messages">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <div class="footer"></div>
</body>
</html>